In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_excel('C:/Users/cs04/Python_Programming/loan-data.xlsx')
data

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,...,total_acc,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,repay_fail
0,2,2,2,0.0,0.0,0.00000,36 months,0.00,0.00,< 1 year,...,1.0,0.000000,0.00,0.00,0.00,2023-01-07,0.00,2023-01-07,2023-01-07,1
1,3,545583,703644,2500.0,2500.0,2500.00000,36 months,13.98,85.42,4 years,...,10.0,3075.291779,3075.29,2500.00,575.29,2023-07-13,90.85,2023-08-13,2023-06-16,0
2,4,532101,687836,5000.0,5000.0,5000.00000,36 months,15.95,175.67,4 years,...,15.0,2948.760000,2948.76,1909.02,873.81,2023-11-11,175.67,NaT,2023-03-12,1
3,5,877788,1092507,7000.0,7000.0,7000.00000,36 months,9.91,225.58,10+ years,...,20.0,8082.391880,8082.39,7000.00,1082.39,2023-03-14,1550.27,NaT,2023-03-14,0
4,6,875406,1089981,2000.0,2000.0,2000.00000,36 months,5.42,60.32,10+ years,...,15.0,2161.663244,2161.66,2000.00,161.66,2023-02-14,53.12,NaT,2023-06-16,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,38476,849205,1060907,3000.0,3000.0,3000.00000,36 months,11.99,99.63,3 years,...,22.0,3586.619764,3586.62,3000.00,586.62,2023-08-14,100.30,NaT,2023-06-16,0
38476,38477,852914,1065048,10400.0,10400.0,10400.00000,36 months,13.49,352.88,9 years,...,33.0,12703.534030,12703.53,10400.00,2303.53,2023-09-14,393.08,NaT,2023-06-16,0
38477,38478,519553,671637,16000.0,10550.0,10531.35818,60 months,14.96,250.77,10+ years,...,25.0,14202.267530,14163.31,10550.00,3652.27,2023-06-13,5439.96,NaT,2023-02-16,0
38478,38479,825638,1034448,10000.0,10000.0,10000.00000,36 months,16.89,355.99,1 year,...,12.0,12815.178320,12815.18,10000.00,2815.18,2023-08-14,380.63,NaT,2023-09-15,0
38479,38480,1029847,1249126,3200.0,3200.0,3200.00000,36 months,13.49,108.58,7 years,...,18.0,3908.767275,3908.77,3200.00,708.77,2023-12-14,111.88,NaT,2023-11-14,0

In [3]:
data=data[['funded_amnt','funded_amnt_inv','int_rate','term','installment','emp_length','home_ownership','annual_inc','verification_status','loan_status','purpose','last_pymnt_amnt','total_pymnt','total_rec_prncp','total_rec_int','repay_fail']]

In [4]:
data

,funded_amnt,funded_amnt_inv,int_rate,term,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,last_pymnt_amnt,total_pymnt,total_rec_prncp,total_rec_int,repay_fail
0,0.0,0.00000,0.00,36 months,0.00,< 1 year,RENT,0.0,Not Verified,Charged Off,major_purchase,0.00,0.000000,0.00,0.00,1
1,2500.0,2500.00000,13.98,36 months,85.42,4 years,RENT,20004.0,Not Verified,Does not meet the credit policy. Status:Fully ...,other,90.85,3075.291779,2500.00,575.29,0
2,5000.0,5000.00000,15.95,36 months,175.67,4 years,RENT,59000.0,Not Verified,Charged Off,debt_consolidation,175.67,2948.760000,1909.02,873.81,1
3,7000.0,7000.00000,9.91,36 months,225.58,10+ years,MORTGAGE,53796.0,Not Verified,Fully Paid,other,1550.27,8082.391880,7000.00,1082.39,0
4,2000.0,2000.00000,5.42,36 months,60.32,10+ years,RENT,30000.0,Not Verified,Fully Paid,debt_consolidation,53.12,2161.663244,2000.00,161.66,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000.0,3000.00000,11.99,36 months,99.63,3 years,RENT,74250.0,Verified,Fully Paid,credit_card,100.30,3586.619764,3000.00,586.62,0
38476,10400.0,10400.00000,13.49,36 months,352.88,9 years,RENT,62000.0,Source Verified,Fully Paid,credit_card,393.08,12703.534030,10400.00,2303.53,0
38477,10550.0,10531.35818,14.96,60 months,250.77,10+ years,MORTGAGE,95088.0,Source Verified,Fully Paid,debt_consolidation,5439.96,14202.267530,10550.00,3652.27,0
38478,10000.0,10000.00000,16.89,36 months,355.99,1 year,RENT,48720.0,Not Verified,Fully Paid,debt_consolidation,380.63,12815.178320,10000.00,2815.18,0
38479,3200.0,3200.00000,13.49,36 months,108.58,7 years,RENT,38400.0,Source Verified,Fully Paid,debt_consolidation,111.88,3908.767275,3200.00,708.77,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38480 entries, 0 to 38479
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   funded_amnt          38479 non-null  float64
 1   funded_amnt_inv      38479 non-null  float64
 2   int_rate             38480 non-null  float64
 3   term                 38480 non-null  object
 4   installment          38479 non-null  float64
 5   emp_length           37487 non-null  object
 6   home_ownership       38480 non-null  object
 7   annual_inc           38478 non-null  float64
 8   verification_status  38480 non-null  object
 9   loan_status          38480 non-null  object
 10  purpose              38480 non-null  object
 11  last_pymnt_amnt      38479 non-null  float64
 12  total_pymnt          38479 non-null  float64
 13  total_rec_prncp      38479 non-null  float64
 14  total_rec_int        38479 non-null  float64
 15  repay_fail           38480 non-null  int64
dtypes: float64(9), int64(1), object(6)
memory usage: 4.7+ MB

In [6]:
data.isnull().sum()

funded_amnt              1
funded_amnt_inv          1
int_rate                 0
term                     0
installment              1
emp_length             993
home_ownership           0
annual_inc               2
verification_status      0
loan_status              0
purpose                  0
last_pymnt_amnt          1
total_pymnt              1
total_rec_prncp          1
total_rec_int            1
repay_fail               0
dtype: int64

In [7]:
data.dropna(inplace=True)

C:\Users\cs04\AppData\Local\Temp\ipykernel_5864\1368182302.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(inplace=True)

In [8]:
data.isnull().sum()

funded_amnt            0
funded_amnt_inv        0
int_rate               0
term                   0
installment            0
emp_length             0
home_ownership         0
annual_inc             0
verification_status    0
loan_status            0
purpose                0
last_pymnt_amnt        0
total_pymnt            0
total_rec_prncp        0
total_rec_int          0
repay_fail             0
dtype: int64

In [9]:
data

,funded_amnt,funded_amnt_inv,int_rate,term,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,last_pymnt_amnt,total_pymnt,total_rec_prncp,total_rec_int,repay_fail
0,0.0,0.00000,0.00,36 months,0.00,< 1 year,RENT,0.0,Not Verified,Charged Off,major_purchase,0.00,0.000000,0.00,0.00,1
1,2500.0,2500.00000,13.98,36 months,85.42,4 years,RENT,20004.0,Not Verified,Does not meet the credit policy. Status:Fully ...,other,90.85,3075.291779,2500.00,575.29,0
2,5000.0,5000.00000,15.95,36 months,175.67,4 years,RENT,59000.0,Not Verified,Charged Off,debt_consolidation,175.67,2948.760000,1909.02,873.81,1
3,7000.0,7000.00000,9.91,36 months,225.58,10+ years,MORTGAGE,53796.0,Not Verified,Fully Paid,other,1550.27,8082.391880,7000.00,1082.39,0
4,2000.0,2000.00000,5.42,36 months,60.32,10+ years,RENT,30000.0,Not Verified,Fully Paid,debt_consolidation,53.12,2161.663244,2000.00,161.66,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000.0,3000.00000,11.99,36 months,99.63,3 years,RENT,74250.0,Verified,Fully Paid,credit_card,100.30,3586.619764,3000.00,586.62,0
38476,10400.0,10400.00000,13.49,36 months,352.88,9 years,RENT,62000.0,Source Verified,Fully Paid,credit_card,393.08,12703.534030,10400.00,2303.53,0
38477,10550.0,10531.35818,14.96,60 months,250.77,10+ years,MORTGAGE,95088.0,Source Verified,Fully Paid,debt_consolidation,5439.96,14202.267530,10550.00,3652.27,0
38478,10000.0,10000.00000,16.89,36 months,355.99,1 year,RENT,48720.0,Not Verified,Fully Paid,debt_consolidation,380.63,12815.178320,10000.00,2815.18,0
38479,3200.0,3200.00000,13.49,36 months,108.58,7 years,RENT,38400.0,Source Verified,Fully Paid,debt_consolidation,111.88,3908.767275,3200.00,708.77,0

In [10]:
data.home_ownership.value_counts()

RENT        17868
MORTGAGE    16723
OWN          2765
OTHER         125
NONE            4
Name: home_ownership, dtype: int64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37485 entries, 0 to 38479
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   funded_amnt          37485 non-null  float64
 1   funded_amnt_inv      37485 non-null  float64
 2   int_rate             37485 non-null  float64
 3   term                 37485 non-null  object
 4   installment          37485 non-null  float64
 5   emp_length           37485 non-null  object
 6   home_ownership       37485 non-null  object
 7   annual_inc           37485 non-null  float64
 8   verification_status  37485 non-null  object
 9   loan_status          37485 non-null  object
 10  purpose              37485 non-null  object
 11  last_pymnt_amnt      37485 non-null  float64
 12  total_pymnt          37485 non-null  float64
 13  total_rec_prncp      37485 non-null  float64
 14  total_rec_int        37485 non-null  float64
 15  repay_fail           37485 non-null  int64
dtypes: float64(9), int64(1), object(6)
memory usage: 4.9+ MB

In [12]:
data['emp_length']=data.emp_length.str.replace('<','').str.replace('+','').str.replace('year','').str.replace('s','').astype('int')
data['emp_length']

C:\Users\cs04\AppData\Local\Temp\ipykernel_5864\2884977838.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['emp_length']=data.emp_length.str.replace('<','').str.replace('+','').str.replace('year','').str.replace('s','').astype('int')
C:\Users\cs04\AppData\Local\Temp\ipykernel_5864\2884977838.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['emp_length']=data.emp_length.str.replace('<','').str.replace('+','').str.replace('year','').str.replace('s','').astype('int')

0         1
1         4
2         4
3        10
4        10
         ..
38475     3
38476     9
38477    10
38478     1
38479     7
Name: emp_length, Length: 37485, dtype: int32

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37485 entries, 0 to 38479
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   funded_amnt          37485 non-null  float64
 1   funded_amnt_inv      37485 non-null  float64
 2   int_rate             37485 non-null  float64
 3   term                 37485 non-null  object
 4   installment          37485 non-null  float64
 5   emp_length           37485 non-null  int32
 6   home_ownership       37485 non-null  object
 7   annual_inc           37485 non-null  float64
 8   verification_status  37485 non-null  object
 9   loan_status          37485 non-null  object
 10  purpose              37485 non-null  object
 11  last_pymnt_amnt      37485 non-null  float64
 12  total_pymnt          37485 non-null  float64
 13  total_rec_prncp      37485 non-null  float64
 14  total_rec_int        37485 non-null  float64
 15  repay_fail           37485 non-null  int64
dtypes: float64(9), int32(1), int64(1), object(5)
memory usage: 4.7+ MB

In [14]:
data['home_ownership']=data['home_ownership'].apply(lambda x: 'OTHER' if x=='NONE' else x)

C:\Users\cs04\AppData\Local\Temp\ipykernel_5864\4227359612.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['home_ownership']=data['home_ownership'].apply(lambda x: 'OTHER' if x=='NONE' else x)

In [15]:
data.home_ownership.value_counts()

RENT        17868
MORTGAGE    16723
OWN          2765
OTHER         129
Name: home_ownership, dtype: int64

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37485 entries, 0 to 38479
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   funded_amnt          37485 non-null  float64
 1   funded_amnt_inv      37485 non-null  float64
 2   int_rate             37485 non-null  float64
 3   term                 37485 non-null  object
 4   installment          37485 non-null  float64
 5   emp_length           37485 non-null  int32
 6   home_ownership       37485 non-null  object
 7   annual_inc           37485 non-null  float64
 8   verification_status  37485 non-null  object
 9   loan_status          37485 non-null  object
 10  purpose              37485 non-null  object
 11  last_pymnt_amnt      37485 non-null  float64
 12  total_pymnt          37485 non-null  float64
 13  total_rec_prncp      37485 non-null  float64
 14  total_rec_int        37485 non-null  float64
 15  repay_fail           37485 non-null  int64
dtypes: float64(9), int32(1), int64(1), object(5)
memory usage: 4.7+ MB

In [17]:
data.drop(columns='loan_status',inplace=True)

C:\Users\cs04\AppData\Local\Temp\ipykernel_5864\1317498484.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns='loan_status',inplace=True)

In [18]:
data.term=data.term.str.replace('months','').astype('int')

C:\Users\cs04\AppData\Local\Temp\ipykernel_5864\3660538848.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.term=data.term.str.replace('months','').astype('int')

In [19]:
data

,funded_amnt,funded_amnt_inv,int_rate,term,installment,emp_length,home_ownership,annual_inc,verification_status,purpose,last_pymnt_amnt,total_pymnt,total_rec_prncp,total_rec_int,repay_fail
0,0.0,0.00000,0.00,36,0.00,1,RENT,0.0,Not Verified,major_purchase,0.00,0.000000,0.00,0.00,1
1,2500.0,2500.00000,13.98,36,85.42,4,RENT,20004.0,Not Verified,other,90.85,3075.291779,2500.00,575.29,0
2,5000.0,5000.00000,15.95,36,175.67,4,RENT,59000.0,Not Verified,debt_consolidation,175.67,2948.760000,1909.02,873.81,1
3,7000.0,7000.00000,9.91,36,225.58,10,MORTGAGE,53796.0,Not Verified,other,1550.27,8082.391880,7000.00,1082.39,0
4,2000.0,2000.00000,5.42,36,60.32,10,RENT,30000.0,Not Verified,debt_consolidation,53.12,2161.663244,2000.00,161.66,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000.0,3000.00000,11.99,36,99.63,3,RENT,74250.0,Verified,credit_card,100.30,3586.619764,3000.00,586.62,0
38476,10400.0,10400.00000,13.49,36,352.88,9,RENT,62000.0,Source Verified,credit_card,393.08,12703.534030,10400.00,2303.53,0
38477,10550.0,10531.35818,14.96,60,250.77,10,MORTGAGE,95088.0,Source Verified,debt_consolidation,5439.96,14202.267530,10550.00,3652.27,0
38478,10000.0,10000.00000,16.89,36,355.99,1,RENT,48720.0,Not Verified,debt_consolidation,380.63,12815.178320,10000.00,2815.18,0
38479,3200.0,3200.00000,13.49,36,108.58,7,RENT,38400.0,Source Verified,debt_consolidation,111.88,3908.767275,3200.00,708.77,0

In [20]:
data.verification_status.value_counts()

Not Verified       16560
Verified           11754
Source Verified     9171
Name: verification_status, dtype: int64

In [21]:
data['verification_status']=data['verification_status'].apply(lambda x: 'Verified' if x=='Source Verified' else x)

C:\Users\cs04\AppData\Local\Temp\ipykernel_5864\1648076954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['verification_status']=data['verification_status'].apply(lambda x: 'Verified' if x=='Source Verified' else x)

In [22]:
data.head()

,funded_amnt,funded_amnt_inv,int_rate,term,installment,emp_length,home_ownership,annual_inc,verification_status,purpose,last_pymnt_amnt,total_pymnt,total_rec_prncp,total_rec_int,repay_fail
0,0.0,0.0,0.00,36,0.00,1,RENT,0.0,Not Verified,major_purchase,0.00,0.000000,0.00,0.00,1
1,2500.0,2500.0,13.98,36,85.42,4,RENT,20004.0,Not Verified,other,90.85,3075.291779,2500.00,575.29,0
2,5000.0,5000.0,15.95,36,175.67,4,RENT,59000.0,Not Verified,debt_consolidation,175.67,2948.760000,1909.02,873.81,1
3,7000.0,7000.0,9.91,36,225.58,10,MORTGAGE,53796.0,Not Verified,other,1550.27,8082.391880,7000.00,1082.39,0
4,2000.0,2000.0,5.42,36,60.32,10,RENT,30000.0,Not Verified,debt_consolidation,53.12,2161.663244,2000.00,161.66,0

In [23]:
data['verification_status'].value_counts()

Verified        20925
Not Verified    16560
Name: verification_status, dtype: int64

In [24]:
data.drop(columns='purpose',inplace=True)

C:\Users\cs04\AppData\Local\Temp\ipykernel_5864\3170139320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.drop(columns='purpose',inplace=True)

In [25]:
data

,funded_amnt,funded_amnt_inv,int_rate,term,installment,emp_length,home_ownership,annual_inc,verification_status,last_pymnt_amnt,total_pymnt,total_rec_prncp,total_rec_int,repay_fail
0,0.0,0.00000,0.00,36,0.00,1,RENT,0.0,Not Verified,0.00,0.000000,0.00,0.00,1
1,2500.0,2500.00000,13.98,36,85.42,4,RENT,20004.0,Not Verified,90.85,3075.291779,2500.00,575.29,0
2,5000.0,5000.00000,15.95,36,175.67,4,RENT,59000.0,Not Verified,175.67,2948.760000,1909.02,873.81,1
3,7000.0,7000.00000,9.91,36,225.58,10,MORTGAGE,53796.0,Not Verified,1550.27,8082.391880,7000.00,1082.39,0
4,2000.0,2000.00000,5.42,36,60.32,10,RENT,30000.0,Not Verified,53.12,2161.663244,2000.00,161.66,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000.0,3000.00000,11.99,36,99.63,3,RENT,74250.0,Verified,100.30,3586.619764,3000.00,586.62,0
38476,10400.0,10400.00000,13.49,36,352.88,9,RENT,62000.0,Verified,393.08,12703.534030,10400.00,2303.53,0
38477,10550.0,10531.35818,14.96,60,250.77,10,MORTGAGE,95088.0,Verified,5439.96,14202.267530,10550.00,3652.27,0
38478,10000.0,10000.00000,16.89,36,355.99,1,RENT,48720.0,Not Verified,380.63,12815.178320,10000.00,2815.18,0
38479,3200.0,3200.00000,13.49,36,108.58,7,RENT,38400.0,Verified,111.88,3908.767275,3200.00,708.77,0

In [26]:
y=data['repay_fail']
y

0        1
1        0
2        1
3        0
4        0
        ..
38475    0
38476    0
38477    0
38478    0
38479    0
Name: repay_fail, Length: 37485, dtype: int64

In [27]:
X=data.drop(columns='repay_fail')

In [28]:
X=pd.get_dummies(X)

In [29]:
X

,funded_amnt,funded_amnt_inv,int_rate,term,installment,emp_length,annual_inc,last_pymnt_amnt,total_pymnt,total_rec_prncp,total_rec_int,home_ownership_MORTGAGE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Not Verified,verification_status_Verified
0,0.0,0.00000,0.00,36,0.00,1,0.0,0.00,0.000000,0.00,0.00,0,0,0,1,1,0
1,2500.0,2500.00000,13.98,36,85.42,4,20004.0,90.85,3075.291779,2500.00,575.29,0,0,0,1,1,0
2,5000.0,5000.00000,15.95,36,175.67,4,59000.0,175.67,2948.760000,1909.02,873.81,0,0,0,1,1,0
3,7000.0,7000.00000,9.91,36,225.58,10,53796.0,1550.27,8082.391880,7000.00,1082.39,1,0,0,0,1,0
4,2000.0,2000.00000,5.42,36,60.32,10,30000.0,53.12,2161.663244,2000.00,161.66,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38475,3000.0,3000.00000,11.99,36,99.63,3,74250.0,100.30,3586.619764,3000.00,586.62,0,0,0,1,0,1
38476,10400.0,10400.00000,13.49,36,352.88,9,62000.0,393.08,12703.534030,10400.00,2303.53,0,0,0,1,0,1
38477,10550.0,10531.35818,14.96,60,250.77,10,95088.0,5439.96,14202.267530,10550.00,3652.27,1,0,0,0,0,1
38478,10000.0,10000.00000,16.89,36,355.99,1,48720.0,380.63,12815.178320,10000.00,2815.18,0,0,0,1,1,0
38479,3200.0,3200.00000,13.49,36,108.58,7,38400.0,111.88,3908.767275,3200.00,708.77,0,0,0,1,0,1

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import r2_score,accuracy_score,classification_report

In [33]:
lr=LogisticRegression()

In [34]:
lr.fit(X_train,y_train)

C:\Users\cs04\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [35]:
pred=lr.predict(X_test)

In [36]:
score=r2_score(y_test,pred)
score

0.978133586001895

In [37]:
acc=accuracy_score(y_test,pred)
acc

0.9971988795518207

In [38]:
report=classification_report(y_test,pred)
report

'              precision    recall  f1-score   support\n\n           0       1.00      1.00      1.00      6366\n           1       1.00      0.98      0.99      1131\n\n    accuracy                           1.00      7497\n   macro avg       1.00      0.99      0.99      7497\nweighted avg       1.00      1.00      1.00      7497\n'